@import '../../styles/variables';
@import '../../styles/mixins/font_mixins.scss';

.buttonGetStarted {
  width: 139px;
  border-radius: 64px;
  border-style: solid;
  border-color: $page-color;
  border-width: 2px;
  height: 52px;
  background-color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.speedGetStarted {
  color: $page-color;
  text-align: center;
  @include header-font;
  font-size: 15px;
  width: 87px;
}