@import '../../../styles/variables';

.customerframe2 {
    height: 960px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 188px;
  }
  .customerframe3 {
    height: 197px;
    position: absolute;
    right: 51.25%;
    left: 0%;
    width: 48.75%;
    top: 32px;
  }
  .customerrectangle {
    background: #ffffff;
    border-radius: 32px;
    height: 256px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: -23px;
  }
  .customerframe4 {
    height: 20px;
    position: absolute;
    right: 5.13%;
    left: 5.13%;
    width: 89.74%;
    top: 0px;
  }
  .customerimage {
    height: 20px;
    position: absolute;
    right: 92.14%;
    left: 4.29%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage2 {
    height: 20px;
    position: absolute;
    right: 83.57%;
    left: 12.86%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage3 {
    height: 20px;
    position: absolute;
    right: 96.43%;
    left: 0%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage4 {
    height: 20px;
    position: absolute;
    right: 79.29%;
    left: 17.14%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage5 {
    height: 20px;
    position: absolute;
    right: 87.86%;
    left: 8.57%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerframe5 {
    height: 48px;
    position: absolute;
    right: 5.13%;
    left: 5.13%;
    width: 89.74%;
    top: 149px;
  }
  .customerimage6 {
    height: 48px;
    position: absolute;
    right: 91.43%;
    left: 0%;
    width: 8.57%;
    top: calc(50% - 24px);
    object-fit: cover;
  }
  .customerframe6 {
    height: 48px;
    position: absolute;
    right: 61.07%;
    left: 11.43%;
    width: 27.5%;
    top: calc(50% - 24px);
  }
  .customerdana-hale {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 50.65%;
    left: 0%;
    width: 49.35%;
    top: 0px;
  }
  .customerui-ux-designer-iniry {
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 24px;
  }
  .customerpellentesque{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    right: 8.01%;
    left: 5.13%;
    width: 86.86%;
    top: 46px;
  }
  .customerframe7 {
    height: 197px;
    position: absolute;
    right: 51.25%;
    left: 0%;
    width: 48.75%;
    top: 618px;
  }
  .customerrectangle2 {
    background: #ffffff;
    border-radius: 32px;
    height: 256px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .customerimage7 {
    height: 20px;
    position: absolute;
    right: 92.14%;
    left: 4.29%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage8 {
    height: 20px;
    position: absolute;
    right: 83.57%;
    left: 12.86%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage9 {
    height: 20px;
    position: absolute;
    right: 87.86%;
    left: 8.57%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage10 {
    height: 20px;
    position: absolute;
    right: 79.29%;
    left: 17.14%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage11 {
    height: 20px;
    position: absolute;
    right: 96.43%;
    left: 0%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerframe8 {
    height: 48px;
    position: absolute;
    right: 55.71%;
    left: 11.43%;
    width: 32.86%;
    top: calc(50% - 24px);
  }
  .customertravis-elton {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 52.17%;
    left: 0%;
    width: 47.83%;
    top: 0px;
  }
  .customersales-manager-kan-cod {
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 24px;
  }
  .customeronec{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    right: 6.57%;
    left: 5.13%;
    width: 88.3%;
    top: 46px;
  }
  .customerframe9 {
    height: 256px;
    position: absolute;
    right: 0%;
    left: 51.25%;
    width: 48.75%;
    top: 352px;
  }
  .customerrectangle3 {
    background: #ffffff;
    border-radius: 32px;
    height: 256px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: -11px;
  }
  .customerimage12 {
    height: 20px;
    position: absolute;
    right: 92.14%;
    left: 4.29%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage13 {
    height: 20px;
    position: absolute;
    right: 83.57%;
    left: 12.86%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage14 {
    height: 20px;
    position: absolute;
    right: 96.43%;
    left: 0%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage15 {
    height: 20px;
    position: absolute;
    right: 79.29%;
    left: 17.14%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage16 {
    height: 20px;
    position: absolute;
    right: 87.86%;
    left: 8.57%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerframe10 {
    height: 48px;
    position: absolute;
    right: 5.13%;
    left: 5.13%;
    width: 89.74%;
    top: 176px;
  }
  .customerframe11 {
    height: 48px;
    position: absolute;
    right: 53.75%;
    left: 11.43%;
    width: 34.82%;
    top: calc(50% - 24px);
  }
  .customeranna-hanney {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 47.69%;
    left: 0%;
    width: 52.31%;
    top: 0px;
  }
  .customerhead-of-design-betatech {
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 24px;
  }
  .customerin-eros{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    right: 8.65%;
    left: 5.13%;
    width: 86.22%;
    top: 46px;
  }
  .customerframe12 {
    height: 224px;
    position: absolute;
    right: 0%;
    left: 51.25%;
    width: 48.75%;
    top: 32px;
  }
  .customerimage17 {
    height: 20px;
    position: absolute;
    right: 96.43%;
    left: 0%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage18 {
    height: 20px;
    position: absolute;
    right: 87.86%;
    left: 8.57%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage19 {
    height: 20px;
    position: absolute;
    right: 79.29%;
    left: 17.14%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage20 {
    height: 20px;
    position: absolute;
    right: 83.57%;
    left: 12.86%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage21 {
    height: 20px;
    position: absolute;
    right: 92.14%;
    left: 4.29%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customeraenean{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    right: 5.77%;
    left: 5.13%;
    width: 89.1%;
    top: 46px;
  }
  .customerframe13 {
    height: 48px;
    position: absolute;
    right: 65.36%;
    left: 11.43%;
    width: 23.21%;
    top: calc(50% - 24px);
  }
  .customerceo-sonron {
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 27.69%;
    left: 0%;
    width: 72.31%;
    top: 24px;
  }
  .customermonica-scarboro {
    color: #162e3c;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .customerframe14 {
    height: 224px;
    position: absolute;
    right: 0%;
    left: 51.25%;
    width: 48.75%;
    top: 672px;
  }
  .customerrectangle4 {
    background: #ffffff;
    border-radius: 32px;
    height: 256px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: -7px;
  }
  .customerimage22 {
    height: 20px;
    position: absolute;
    right: 96.43%;
    left: 0%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage23 {
    height: 20px;
    position: absolute;
    right: 87.86%;
    left: 8.57%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage24 {
    height: 20px;
    position: absolute;
    right: 79.29%;
    left: 17.14%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage25 {
    height: 20px;
    position: absolute;
    right: 92.14%;
    left: 4.29%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage26 {
    height: 20px;
    position: absolute;
    right: 83.57%;
    left: 12.86%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerduis-at{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    right: 8.81%;
    left: 5.13%;
    width: 86.06%;
    top: 46px;
  }
  .customerframe15 {
    height: 48px;
    position: absolute;
    right: 59.29%;
    left: 11.43%;
    width: 29.29%;
    top: calc(50% - 24px);
  }
  .customercopywriter-openlane {
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 24px;
  }
  .customermegan-roston {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 32.32%;
    left: 0%;
    width: 67.68%;
    top: 0px;
  }
  .customerframe16 {
    height: 197px;
    position: absolute;
    right: 51.25%;
    left: 0%;
    width: 48.75%;
    top: 325px;
  }
  .customerrectangle5 {
    background: #ffffff;
    border-radius: 32px;
    height: 256px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: -15px;
  }
  .customerimage27 {
    height: 20px;
    position: absolute;
    right: 96.43%;
    left: 0%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage28 {
    height: 20px;
    position: absolute;
    right: 87.86%;
    left: 8.57%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage29 {
    height: 20px;
    position: absolute;
    right: 79.29%;
    left: 17.14%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage30 {
    height: 20px;
    position: absolute;
    right: 92.14%;
    left: 4.29%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerimage31 {
    height: 20px;
    position: absolute;
    right: 83.57%;
    left: 12.86%;
    width: 3.57%;
    top: 0px;
    overflow: visible;
  }
  .customerin-luctus{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    right: 12.98%;
    left: 5.13%;
    width: 81.89%;
    top: 46px;
  }
  .customerframe17 {
    height: 48px;
    position: absolute;
    right: 46.25%;
    left: 11.43%;
    width: 42.32%;
    top: calc(50% - 24px);
  }
  .customerfront-end-developer-dontechi {
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 24px;
  }
  .customerkyle-camden {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 58.23%;
    left: 0%;
    width: 41.77%;
    top: 0px;
  }
  .customerframe18 {
    height: 108px;
    position: absolute;
    right: 20%;
    left: 20%;
    width: 60%;
    top: 0px;
  }
  .customereu-turpis{
    color: #ffffff;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 308px);
    top: 81px;
    width: 617px;
  }
  .customera-words-from-our-customers {
    color: #ffffff;
    text-align: center;
    font-family: "Fraunces-Regular", sans-serif;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 340px);
    top: -1px;
    width: 681px;
  }
  