.image1 {
    width: 270px;
    height: 250px;
    position: absolute;
    overflow: visible;
    margin-top: 100px;
    margin-left: -83px;
  }
  
  .image2 {
    width: 240px;
    height: 260px;
    position: absolute;
    overflow: visible;
    margin-top: 250px;
    margin-left: 1270px;
  }
  
  .image3 {
    width: 320px;
    height: 275px;
    position: absolute;
    overflow: visible;
    margin-top: 518px;
    margin-left: -60px;
  }