@import '../../../styles/variables';

.customerSVGContainer,
.customerSVGContainer * {
  box-sizing: border-box;
}
.customerSVGContainer {
  width: 1280px;
  height: 1148px;
  position: relative;
}

.customerMain,
.customerMain * {
  box-sizing: border-box;
}
.customerMainContainer {
  background: $page-color;
  width: 1440px;
  height: 1404px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $page-color;
}

.customerSvg1Container,
.customerSvg1Container * {
  box-sizing: border-box;
}
.customerSvg1Container {
  width: 280px;
  height: 270px;
  position: relative;
  overflow: visible;
  margin: -256px 20px 20px 1080px;
  overflow: hidden
}

.customerSvg2Container,
.customerSvg2Container * {
  box-sizing: border-box;
}
.customerSvg2Container {
  width: 280px;
  height: 270px;
  position: relative;
  overflow: visible;
  margin: 894px 0px 20px -160px;
  overflow: hidden
}
