@import '../../../variables';

.blogpageframe2 {
    height: 156px;
    position: absolute;
    right: 20%;
    left: 20%;
    width: 60%;
    top: 128px;
  }
  .blogpageframe3 {
    width: 59px;
    height: 32px;
    position: absolute;
    left: calc(50% - 29px);
    top: 0px;
  }
  .blogpagerectangle {
    background: $primary-color;
    border-radius: 64px;
    height: 32px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .blogpageblog {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 17.5px);
    top: 4px;
    width: 35px;
  }
  .blogpageour-latest-blogs {
    color: $page-color;
    text-align: center;
    font-family: "Fraunces-Bold", sans-serif;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 187px);
    top: 47px;
    width: 375px;
  }
  .blogpageaccumsan-semper-euismod-dolor-vitae-metus {
    color: #49616e;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 199px);
    top: 129px;
    width: 399px;
  }