@import '../../../styles/variables';

.building
.building *
{
    box-sizing: border-box;
}
.building {
  background: $primary-color;
  border-radius: 48px;
  width: 1280px;
  height: 898px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buildingSvg1Container{
  display: flex;
  margin-left: 915px;
  margin-top: -232px;
}

.svgContainerBuilding1{
  display: flex;
  justify-content: center;
  width: 100px;
  margin-top: 32px;
  margin-left: 130px;
}

.buildingMain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.BuildingMainContainer,
.BuildingMainContainer * {
  box-sizing: border-box;
}
.BuildingMainContainer {
  width: 1152px;
  height: 642px;
  position: relative;
}
.buildingText1 {
  height: 304px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 238px;
}
.BuildingTextMain1 {
  height: 304px;
  position: absolute;
  right: 68.49%;
  left: 0%;
  width: 31.51%;
  top: 0px;
  overflow: hidden;
}
.BuildingTextBackground1 {
  background: $page-color;
  border-radius: 24px;
  height: 304px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 0px;
}
.SVGContainer1 {
  width: 362.66px;
  height: 304px;
  position: absolute;
  left: calc(50% - 181.5px);
  top: 0px;
}
.buildingBetterResults {
  color: #ffffff;
  text-align: center;
  font-family: "Fraunces-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 68.33px);
  top: 156px;
  width: 136px;
}
.svgContainerBuilding img {
  width: 101px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50.33px);
  top: 32px;
  overflow: visible;
}
.Vestibulum {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 127.33px);
  top: 201px;
  width: 255px;
}
.BuildingTextMain2 {
  height: 304px;
  position: absolute;
  right: 34.2%;
  left: 34.29%;
  width: 31.51%;
  top: 0px;
  overflow: hidden;
}
.SVGContainer2 {
  width: 362.66px;
  height: 304px;
  position: absolute;
  left: calc(50% - 181.84px);
  top: 0px;
}
.buildingLessPaperWork {
  color: #ffffff;
  text-align: center;
  font-family: "Fraunces-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 81.98px);
  top: 156px;
  width: 163px;
}
.duisConvallis{
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 139.98px);
  top: 201px;
  width: 279px;
}
.BuildingTextMain3 {
  height: 304px;
  position: absolute;
  right: 0%;
  left: 68.49%;
  width: 31.51%;
  top: 0px;
  overflow: hidden;
}
.SVGContainer3 {
  width: 362.66px;
  height: 304px;
  position: absolute;
  left: calc(50% - 181.19px);
  top: 0px;
}
.buildingMoreProfit {
  color: #ffffff;
  text-align: center;
  font-family: "Fraunces-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 56.64px);
  top: 156px;
  width: 114px;
}
.buildingimage3 {
  width: 101px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50.64px);
  top: 32px;
  overflow: visible;
}
.donecTincidunt {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 138.64px);
  top: 201px;
  width: 278px;
}

