@import '../../../variables';

.building
.building *
{
    box-sizing: border-box;
}
.building {
  background: $primary-color;
  border-radius: 48px;
  width: 1280px;
  height: 898px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.building-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buildingframe,
.buildingframe * {
  box-sizing: border-box;
}
.buildingframe {
  width: 1152px;
  height: 642px;
  position: relative;
}
.buildingframe2 {
  height: 304px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 238px;
}
.buildingframe3 {
  height: 304px;
  position: absolute;
  right: 68.49%;
  left: 0%;
  width: 31.51%;
  top: 0px;
  overflow: hidden;
}
.buildingrectangle {
  background: $page-color;
  border-radius: 24px;
  height: 304px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 0px;
}
.buildingframe4 {
  width: 362.66px;
  height: 304px;
  position: absolute;
  left: calc(50% - 181.5px);
  top: 0px;
}
.buildingbetter-results {
  color: #ffffff;
  text-align: center;
  font-family: "Fraunces-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 68.33px);
  top: 156px;
  width: 136px;
}
.buildingimage {
  width: 101px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50.33px);
  top: 32px;
  overflow: visible;
}
.vestibulum {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 127.33px);
  top: 201px;
  width: 255px;
}
.buildingframe5 {
  height: 304px;
  position: absolute;
  right: 34.2%;
  left: 34.29%;
  width: 31.51%;
  top: 0px;
  overflow: hidden;
}
.buildingframe6 {
  width: 362.66px;
  height: 304px;
  position: absolute;
  left: calc(50% - 181.84px);
  top: 0px;
}
.buildingless-paper-work {
  color: #ffffff;
  text-align: center;
  font-family: "Fraunces-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 81.98px);
  top: 156px;
  width: 163px;
}
.buildingimage2 {
  width: 101px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50.98px);
  top: 32px;
  overflow: visible;
}
.duis-convallis{
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 139.98px);
  top: 201px;
  width: 279px;
}
.buildingframe7 {
  height: 304px;
  position: absolute;
  right: 0%;
  left: 68.49%;
  width: 31.51%;
  top: 0px;
  overflow: hidden;
}
.buildingframe8 {
  width: 362.66px;
  height: 304px;
  position: absolute;
  left: calc(50% - 181.19px);
  top: 0px;
}
.buildingmore-profit {
  color: #ffffff;
  text-align: center;
  font-family: "Fraunces-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 56.64px);
  top: 156px;
  width: 114px;
}
.buildingimage3 {
  width: 101px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50.64px);
  top: 32px;
  overflow: visible;
}
.donec-tincidunt {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 138.64px);
  top: 201px;
  width: 278px;
}
.buildingframe9 {
  width: 265px;
  height: 52px;
  position: absolute;
  left: calc(50% - 132.5px);
  top: 590px;
}
.buildingframe10 {
  width: 139px;
  height: 52px;
  position: absolute;
  left: calc(50% - 132px);
  top: calc(50% - 26px);
}
.buildingrectangle2 {
  border-radius: 64px;
  border-style: solid;
  border-color: $page-color;
  border-width: 2px;
  height: 52px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 0px;
}
.buildingget-started {
  color: $page-color;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 43.5px);
  top: calc(50% - 12px);
  width: 87px;
}
.buildingframe11 {
  width: 110px;
  height: 16px;
  position: absolute;
  left: calc(50% - -23px);
  top: calc(50% - 8px);
}
.buildingrectangle3 {
  height: 16px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 0px;
}
.buildingimage4 {
  height: 16px;
  position: absolute;
  right: 0%;
  left: 85.45%;
  width: 14.55%;
  top: calc(50% - 8px);
  overflow: visible;
}
.buildingtry-for-free {
  color: $page-color;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  right: 14.55%;
  left: 7.27%;
  width: 78.18%;
  top: calc(50% - 8px);
}
.buildingframe12 {
  height: 174px;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  width: 66.67%;
  top: 0px;
}
.building-your{
  color: $page-color;
  text-align: center;
  font-family: "Fraunces-Regular", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 352px);
  top: -1px;
  width: 704px;
}
.aenean-dui{
  color: $page-color;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 372px);
  top: 122px;
  width: 744px;
}
