@import '../../../styles/variables';
@import '../../../styles/mixins/font_mixins.scss';

.BackgroundContainer{
  background: $primary-color;
  border-radius: 48px;
  width: 1280px;
  height: 898px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContentContainer{
  width: 1152px;
  height: 642px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.TextContainer{
  width: 768px;
  height: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 38px;
}

.TitleText{
  width: 704px;
  height: 96px;
  color: $page-color;
  text-align: center;
  font-size: 40px;
  @include faster-than-font;
  margin-top: 0px;
  margin-bottom: 24px;
}

.SubtitleText{
  margin-top: 12px;
  width: 744px;
  height: 54px;
  color: $page-color;
  text-align: center;
  font-size: 18px;
  @include morbi-font;
  margin-top: 0px;
  margin-bottom: 0px;
}

.AdvantagesContainer{
  width: 1152px;
  height: 304px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.Advantage{
  width: 362.66px;
  height: 304px;
  background: $page-color;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.SVGContainer{
  width: 101px;
  height: 100px;
}

.SVGContainer img{
  margin-top: 33px;
}

.Advantage h2{
  margin-top: 37px;
  @include svg-title;
  font-size: 20px;
  color: $white-color;
  text-align: center;
  margin-bottom: 0px;
}

.Advantage p{
  @include svg-subtitle;
  font-size: 15px;
  text-align: center;
  color: $white-color;
  margin-top: 0px;
  margin-bottom: 30px;
}

.GetStartedContainer{
  width: 265px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GetStartedButton{
  width: 139px;
  height: 52px;
  border-radius: 64px;
  border-style: solid;
  border-color: $page-color;
  border-width: 2px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GetStartedButton p{
  @include getstarted-font;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 87px;
  height: 24px;
  font-size: 15px;
}

.TryForContainer{
  width: 110px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TryForContainer img{
  margin-left: 8px;
}

.svgContainerBuilding1{
  position: absolute;
  margin-left: 1035px;
  margin-bottom: 830px;
}

.TryForLink{
  @include try-for-free-font;
  font-size: 15px;
}