.buildingsvg4image,
.buildingsvg4image * {
  box-sizing: border-box;
}
.buildingsvg4image {
  width: 180px;
  height: 206px;
  position: relative;
  overflow: visible;
  margin: -200px 32px 764px 1006px;
}