@import '../../../styles/variables';
@import '../../../styles/mixins/font_mixins.scss';

.topbar {
  background-color: $primary-color;
  height: 48px;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;

  &-container {
    display: inline-flex;
    padding: 8px 0px 8px 559px;
    justify-content: flex-end;
    align-items: center;
    gap: 526px;

    p {
      color: $page-color;
      font-size: 15px;
      width: 179px;
      @include header-font;
    }

    .custom-button {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
    }
  }
}