.svg-container-stayup{
    margin-left: 1046px;
    margin-top: -72px;
    position: relative;
}

.stayupsubscribe{
    background: #162e3c;
    border-radius: 64px;
    border-style: solid;
    border-color: #162e3c;
    border-width: 2px;
    height: 52px;
    position: absolute;
    right: 0%;
    left: 75%;
    width: 25%;
    top: 0px;
}

.stayupenter-your-email{
    left: 0%;
    width: 368px;
    top: 0px;
}

.stayup-input {
    background: #ffffff;
    border-radius: 24px;
    height: 52px;
    position: absolute;
    right: 28.12%;
    left: 0%;
    width: 368px;
    top: 0px;
    border: none;
  }

  .input-label{
    color: #162e3c;
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 12px;
    margin-left: 42px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
  }