@import '../../../variables';

.frame {
  width: 581px;
  height: 44px;
  position: relative;
}

.header {
  height: 72px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.92);
  display: flex;
  justify-content: center;

  .header-container {
    display: inline-flex;
    padding: 14px 0px;
    justify-content: center;
    align-items: center;
    gap: 587px;

    .header-logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-nav {
      display: flex;
      width: 581px;
      height: 44px;
      justify-content: center;
      align-items: center;
    }

    .frame4 {
      display: flex;
      width: 229px;
      height: 44px;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      flex-shrink: 0;
    }

    .frame5 {
      width: 87px;
      height: 40px;
      flex-shrink: 0;
      color: rgba(22, 46, 60, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 64px;
      border: 2px solid $page-color;
    }

    .frame6 {
      width: 126px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 64px;
      border: 2px solid $page-color;
      background: $page-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .frame2 {
      width: 106px;
      height: 40px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .frame3 {
      width: 67px;
      height: 40px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .frame8 {
      width: 94px;
      height: 40px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .frame7 {
      width: 85px;
      height: 40px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .our-story {
      color: $page-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .try-for-free {
      width: 86px;
      color: #FFF;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .log-in {
      width: 47px;
      color: $page-color;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .blog {
      color: $page-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .contact {
      color: $page-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .pricing {
      color: $page-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}