@import '../../../styles/variables';

.stayupframe,
.stayupframe * {
  box-sizing: border-box;
}
.stayupframe {
  width: 1440px;
  height: 484px;
  position: relative;
}
.stayuprectangle {
  background: #162e3c;
  height: 242px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 242px;
}
.stayupframe2 {
  height: 484px;
  position: absolute;
  right: 5.56%;
  left: 5.56%;
  width: 88.89%;
  top: 0px;
  overflow: hidden;
}
.stayuprectangle2 {
  background: #ddf0a7;
  border-radius: 48px;
  height: 484px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 0px;
}
.stayupframe3 {
  height: 292px;
  position: absolute;
  right: 20%;
  left: 20%;
  width: 60%;
  top: 96px;
}
.stayupframe4 {
  height: 54px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 120px;
}
.stayuprectangle3 {
  height: 54px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 0px;
}
.stayupetiam-volutpat-ligula-nec-orci-egestas-at-porta-massa-tempor-proin-rutrum-purus-in-convallis-pharetra-risus-leo-sagittis {
  color: #162e3c;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 363px);
  top: 2px;
  width: 727px;
}
.stayupframe5 {
  height: 86px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 206px;
}
.stayupframe6 {
  width: 512px;
  height: 52px;
  position: absolute;
  left: calc(50% - 256px);
  top: 0px;
}

.stayupenter-your-email {
  color: #162e3c;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 214px);
  top: 12px;
}
.stayupsubscribe {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -148px);
  top: 12px;
}
.stayupframe7 {
  width: 498px;
  height: 18px;
  position: absolute;
  left: calc(50% - 249px);
  top: 71px;
}
.stayuprectangle6 {
  height: 18px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 0px;
}
.stayupby-clicking-subscribe-you-re-confirming-that-you-agree-with-our-terms-and-conditions {
  color: #162e3c;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 249px);
  top: 0px;
  width: 498px;
}
.stayupstay-up-to-date-with-the-latest-news-from-the-startup-world {
  color: #162e3c;
  text-align: center;
  font-family: "Fraunces-Regular", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 349px);
  top: -1px;
  width: 698px;
}
.stayupimage {
  height: 153px;
  position: absolute;
  right: 5%;
  left: 81.72%;
  width: 13.28%;
  top: -72px;
  overflow: visible;
}

.stayup-main{
  display: flex;
  justify-content: center;
}

.blue-background-stayup{
  height: 242px;
  width: 100%;
  position: absolute;
  background-color: $page-color;
  margin-top: 242px;
}

