@import '../../../../styles/variables';
@import '../../../../styles/mixins/font_mixins.scss';

.TextContainer{
  width: 768px;
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Blog{
  width: 59px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  border-radius: 64px;
}

.Blog p{
  font-size: 16px;
  color: $page-color;
  @include header-font;
  font-weight: 700;
}

.LatestBlog p{
  font-size: 48px;
  color: $page-color;
  @include customers-title;
  margin: 0 0 8px 0;
  font-weight: 700;
}

.BlogSubtitle p{
  font-size: 18px;
  color: $speedcolor;
  @include morbi-font;
  margin: 0px;
}