@import '../../../variables';

.straightframe11 {
    height: 600px;
    position: absolute;
    right: 0%;
    left: 53.12%;
    width: 46.88%;
    top: 0px;
  }
  .straightimage2 {
    border-radius: 32px;
    height: 600px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
    object-fit: cover;
  }
  .straightframe12 {
    height: 120px;
    position: absolute;
    right: 38%;
    left: -8%;
    width: 70%;
    top: 432px;
  }
  .straightrectangle5 {
    background: $primary-color;
    border-radius: 24px;
    height: 120px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .straightframe13 {
    height: 72px;
    position: absolute;
    right: 5.71%;
    left: 77.14%;
    width: 17.14%;
    top: calc(50% - 36px);
  }
  .straightrectangle6 {
    background: $page-color;
    border-radius: 16px;
    height: 72px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .straightimage-4 {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 12px;
    top: 12px;
    object-fit: cover;
  }
  .straightframe14 {
    height: 71px;
    position: absolute;
    right: 35.95%;
    left: 5.71%;
    width: 58.33%;
    top: calc(50% - 35.5px);
  }
  .straight_74 {
    color: $page-color;
    text-align: left;
    font-family: "Fraunces-Regular", sans-serif;
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 400;
    position: absolute;
    right: 74.29%;
    left: 0%;
    width: 25.71%;
    top: -0.5px;
  }
  .straightincreased-in-productivity {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 41.5px;
  }