@import '../../../styles/variables';
@import '../../../styles/mixins/font_mixins.scss';

.SpeedTextContainer {
    height: 304px;
    width: 600px;
    display: flex;
    flex-direction: column;
  }
  .speedSpeed {
    color: $page-color;
    text-align: left;
    @include getstarted-font;
    font-size: 15px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    border-radius: 64px;
    height: 32px;
  }

  .SpeedTitle{
    color: $page-color;
    text-align: left;
    font-size: 40px;
    @include faster-than-font;
    width: 461px;
    height: 48px;
  }

  .SpeedTitle p{
    margin: 16px 0px;
  }

  .SpeedSubtitle{
    color: $speedcolor;
    text-align: left;
    @include morbi-font;
    font-size: 18px;
    width: 596px;
    height: 108px;
  }

  .SpeedSubtitle p{
    margin-top: 40px;
  }

  .GetStartedContainer{
    height: 52px;
    width: 600px;
    margin-top: 64px;
    display: flex;
    align-items: center;

  }

  .TryForContainer{
    height: 16px;
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-left: 16px;
    padding-bottom: 10px;
  }

  .TryForContainer img{
    padding-top: 6px;
  }

  .TryForText{
    color:$page-color;
    @include fast-try-to-font;
  }