@import '../../../variables';

.speedframe7 {
    height: 304px;
    position: absolute;
    right: 0%;
    left: 53.12%;
    width: 46.88%;
    top: 148px;
  }
  .speedframe8 {
    height: 32px;
    position: absolute;
    right: 88%;
    left: 0%;
    width: 12%;
    top: 0px;
  }
  .speedrectangle3 {
    background: $primary-color;
    border-radius: 64px;
    height: 32px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .speedspeed {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Bold", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    position: absolute;
    right: 16.67%;
    left: 16.67%;
    width: 66.67%;
    top: 4px;
  }
  .speedframe9 {
    height: 52px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 252px;
  }
  .speedframe10 {
    height: 52px;
    position: absolute;
    right: 76.83%;
    left: 0%;
    width: 23.17%;
    top: calc(50% - 26px);
  }
  .speedrectangle4 {
    border-radius: 64px;
    border-style: solid;
    border-color: $page-color;
    border-width: 2px;
    height: 52px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .speedget-started {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 43.5px);
    top: calc(50% - 12px);
    width: 87px;
  }
  .speedframe11 {
    height: 16px;
    position: absolute;
    right: 55.83%;
    left: 25.83%;
    width: 18.33%;
    top: calc(50% - 8px);
  }
  .speedrectangle5 {
    height: 16px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .speedimage2 {
    height: 16px;
    position: absolute;
    right: 0%;
    left: 85.45%;
    width: 14.55%;
    top: calc(50% - 8px);
    overflow: visible;
  }
  .speedtry-for-free {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    right: 21.82%;
    left: 0%;
    width: 78.18%;
    top: calc(50% - 11px);
  }
  .speedfaster-than-ever-before {
    color: $page-color;
    text-align: left;
    font-family: "Fraunces-Regular", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    position: absolute;
    right: 23.17%;
    left: 0%;
    width: 76.83%;
    top: 47px;
  }
  .speed-morbi{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    right: 0.67%;
    left: 0%;
    width: 99.33%;
    top: 122px;
  }
  .speedimage3 {
    height: 92px;
    position: absolute;
    right: -10%;
    left: 96.72%;
    width: 13.28%;
    top: 130px;
    overflow: visible;
  }