@import '../../../../styles/variables';

.blogpageframe4 {
    height: 664px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 364px;
    display: flex;
    justify-content: space-between;
  }
  .blogpageframe5 {
    height: 664px;
    position: absolute;
    right: 68.36%;
    left: 0%;
    width: 403px;
    top: 0px;
  }
  .blogpagerectangle2 {
    border-radius: 32px;
    border-style: solid;
    border-color: #e5e7eb;
    border-width: 1px;
    height: 664px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  }
  .blogpageframe6 {
    height: 300px;
    position: absolute;
    right: 0.25%;
    left: 0.25%;
    width: 99.51%;
    top: 1px;
    overflow: hidden;
  }
  .blogpagerectangle3 {
    border-radius: 32px 32px 0px 0px;
    height: 300px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .blogpageimage {
    height: 300px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
    object-fit: cover;
  }
  .blogpageframe7 {
    height: 362px;
    position: absolute;
    right: 0.17%;
    left: 0.25%;
    width: 99.59%;
    top: 301px;
  }
  .blogpageframe8 {
    height: 258px;
    position: absolute;
    right: 5.95%;
    left: 5.95%;
    width: 88.1%;
    top: 24px;
  }
  .blogpageframe9 {
    height: 39px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .blogpageframe10 {
    width: 94px;
    height: 39px;
    position: absolute;
    left: calc(50% - 90.66px);
    top: calc(50% - 19.5px);
  }
  .blogpagerectangle4 {
    border-radius: 32px;
    border-style: solid;
    border-color: #e5e7eb;
    border-width: 1px;
    height: 39px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
  }
  .blogpagebusiness {
    color: #162e3c;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 30px);
    top: 9px;
    width: 60px;
  }
  .blogpage_7-min-read {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - -19.34px);
    top: calc(50% - 10.5px);
    width: 71px;
  }
  .blogpageframe11 {
    height: 99px;
    position: absolute;
    right: 0.09%;
    left: 0%;
    width: 99.91%;
    top: 55px;
  }
  .blogpagerectangle5 {
    height: 99px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .blogpagetop-10-mistakes-startaps-in-2022-make-and-how-to-avoid-them {
    color: $page-color;
    text-align: center;
    font-family: "Fraunces-Bold", sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 170.5px);
    top: 2px;
    width: 341px;
  }
  .blogpageipsum-nostrum-nihil-veniam-sit-eius-sed-non-accusamus-ut-officiis-eligendi-impedit-rerum-et-beatae-itaque-corrupti-sed-nesciunt-delectus-sequi-harum-d {
    color: #49616e;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 171.66px);
    top: 163px;
    width: 343px;
  }
  .blogpageframe12 {
    width: 121px;
    height: 32px;
    position: absolute;
    left: calc(50% - 60.66px);
    top: 306px;
  }
  .blogpagerectangle6 {
    height: 32px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .blogpageread-more {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 20.5px);
    top: calc(50% - 11px);
    width: 81px;
  }
  .blogpageimage2 {
    height: 32px;
    position: absolute;
    right: 73.55%;
    left: 0%;
    width: 26.45%;
    top: calc(50% - 16px);
    overflow: visible;
  }
  .blogpageframe13 {
    height: 664px;
    position: absolute;
    right: 34.22%;
    left: 34.14%;
    width: 403px;
    top: 0px;
  }
  .blogpageframe14 {
    height: 362px;
    position: absolute;
    right: 0.08%;
    left: 0.33%;
    width: 99.59%;
    top: 301px;
  }
  .blogpageframe15 {
    height: 225px;
    position: absolute;
    right: 5.95%;
    left: 5.95%;
    width: 88.1%;
    top: 24px;
  }
  .blogpageframe16 {
    width: 94px;
    height: 39px;
    position: absolute;
    left: calc(50% - 92.99px);
    top: calc(50% - 19.5px);
  }
  .blogpage_11-min-read {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - -17.01px);
    top: calc(50% - 10.5px);
    width: 75px;
  }
  .blogpageet-ad-placeat-quo-rerum-earum-est-est-ea-perspiciatis-facere-voluptas-qui-sit-exercitationem-autem-qui-maxime-pariatur-nobis-est-et-culpa-itaque-consequatur {
    color: #49616e;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 162.99px);
    top: 130px;
    width: 326px;
  }
  .blogpageframe17 {
    height: 66px;
    position: absolute;
    right: 0.18%;
    left: -0.09%;
    width: 99.91%;
    top: 55px;
  }
  .blogpagerectangle7 {
    height: 66px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .blogpagehow-many-participants-for-a-new-hire-interview {
    color: $page-color;
    text-align: center;
    font-family: "Fraunces-Bold", sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 171.5px);
    top: 2px;
    width: 343px;
  }
  .blogpageframe18 {
    width: 121px;
    height: 32px;
    position: absolute;
    left: calc(50% - 60.99px);
    top: 306px;
  }
  .blogpageimage3 {
    height: 32px;
    position: absolute;
    right: 73.55%;
    left: 0%;
    width: 26.45%;
    top: calc(50% - 16px);
    overflow: visible;
  }
  .blogpageframe19 {
    height: 664px;
    position: absolute;
    right: 0%;
    left: 68.36%;
    width: 403px;
    top: 0px;
  }
  .blogpageframe20 {
    height: 362px;
    position: absolute;
    right: 0.25%;
    left: 0.16%;
    width: 99.59%;
    top: 301px;
  }
  .blogpageframe21 {
    width: 70px;
    height: 39px;
    position: absolute;
    left: calc(50% - 78.32px);
    top: calc(50% - 19.5px);
  }
  .blogpagetools {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 18px);
    top: 9px;
    width: 36px;
  }
  .blogpage_5-min-read {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - -7.68px);
    top: calc(50% - 10.5px);
    width: 71px;
  }
  .blogpageest-est-ea-perspiciatis-facere-voluptas-qui-sit-exercitationem-autem-et-ad-placeat-quo-rerum-earum-qui-maxime-pariatur-nobis-est-et-culpa-itaque-consequatur {
    color: #49616e;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 175.32px);
    top: 130px;
    width: 350px;
  }
  .blogpageframe22 {
    height: 66px;
    position: absolute;
    right: 0%;
    left: 0.1%;
    width: 99.91%;
    top: 55px;
  }
  .blogpagetwo-business-tools-that-have-made-my-job-way-easier {
    color: $page-color;
    text-align: center;
    font-family: "Fraunces-Bold", sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 172.5px);
    top: 2px;
    width: 344px;
  }
  .blogpageframe23 {
    width: 121px;
    height: 32px;
    position: absolute;
    left: calc(50% - 60.32px);
    top: 306px;
  }
  .blogpageimage4 {
    height: 32px;
    position: absolute;
    right: 73.55%;
    left: 0%;
    width: 26.45%;
    top: calc(50% - 16px);
    overflow: visible;
  }
  .blogpageframe24 {
    height: 52px;
    position: absolute;
    right: 45.7%;
    left: 45.78%;
    width: 8.52%;
    top: 1108px;
  }
  .blogpagerectangle8 {
    border-radius: 64px;
    border-style: solid;
    border-color: $page-color;
    border-width: 2px;
    height: 52px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .blogpageview-all {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Bold", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 28.5px);
    top: 14px;
    width: 57px;
  }