@import '../../../../styles/variables';
@import '../../../../styles/mixins/font_mixins.scss';

.ContentContainer{
  height: 486px;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.Efficient{
  background: $primary-color;
  border-radius: 64px;
  height: 32px;
  width: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Efficient p{
  font-size: 15px;
  color: $page-color;
  @include getstarted-font;
}

.TextContainer{
  height: 164px;
  width: 574px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TitleText{
  height: 48px;
  width: 404px;
  font-size: 40px;
  @include faster-than-font;
  color: $page-color;
  margin-top: 16px;
  margin-bottom: 0px;
}

.SubtitleText{
  height: 54px;
  width: 574px;
  font-size: 18px;
  color: $speedcolor;
  @include morbi-font;
  margin-top: 24px;
}

.Advantages{
  height: 204px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NoMeetingContainer{
  margin-top: 20px;
  height: 188px;
  width: 288px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.SVGContainer{
  background: $primary-color;
  border-radius: 16px;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoMeetingTitle{
  font-size: 20px;
  color: $page-color;
  @include svg-title;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 28px;
  font-weight: bold;
}

.NoMeetingSubtitle{
  font-size: 16px;
  @include header-font;
  color: $speedcolor;
  height: 72px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.GetStartedContainer{
  height: 52px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 34px;
}

.TryForContainer{
  display: flex;
  height: 16px;
  width: 110px;
  margin-left: 16px;
  margin-bottom: 12px;
}

.TryForContainer p{
  margin: 0px;
  height: 16px;
  width: 86px;
}

.TryForContainer img{
  margin-left: 8px;
  margin-top: 6px;
}

.straightMainContainer {
    height: 486px;
    position: absolute;
    right: 53.12%;
    left: 0%;
    width: 46.88%;
    top: 57px;
  }
  .straightEfficientContainer {
    height: 32px;
    position: absolute;
    right: 85.33%;
    left: 0%;
    width: 14.67%;
    top: 0px;
  }
  .straightEfficientBackground {
    background: $primary-color;
    border-radius: 64px;
    height: 32px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .straightEfficient {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Bold", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    position: absolute;
    right: 13.64%;
    left: 13.64%;
    width: 72.73%;
    top: 4px;
  }
  .straightMainTextContainer {
    height: 204px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 206px;
  }
  .straightMainText1 {
    height: 188px;
    position: absolute;
    right: 52%;
    left: 0%;
    width: 48%;
    top: 8px;
  }
  .straightPhotoContainer {
    height: 56px;
    position: absolute;
    right: 80.56%;
    left: 0%;
    width: 19.44%;
    top: 0px;
  }
  .straightPhotoBackground {
    background: $primary-color;
    border-radius: 16px;
    height: 56px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .straightImage2 {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 12px;
    top: 12px;
    object-fit: cover;
  }
  .straightNoMeetings {
    color: $page-color;
    text-align: left;
    font-family: "Fraunces-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: absolute;
    right: 57.29%;
    left: 0%;
    width: 42.71%;
    top: 72px;
  }
  .straightPorta{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 0.69%;
    left: 0%;
    width: 99.31%;
    top: 117px;
  }
  .straightMainText2 {
    height: 188px;
    position: absolute;
    right: 0%;
    left: 52%;
    width: 48%;
    top: 8px;
  }
  .straightImage3 {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 12px;
    top: 12px;
    object-fit: cover;
  }
  .straight247Customer {
    color: $page-color;
    text-align: left;
    font-family: "Fraunces-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: absolute;
    right: 20.49%;
    left: 0%;
    width: 79.51%;
    top: 72px;
  }
  .straightPraesent {
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    right: 0.35%;
    left: 0%;
    width: 99.65%;
    top: 117px;
  }
  .GetStartedButtonContainer {
    height: 52px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 434px;
  }
  .GetStartedButton {
    height: 52px;
    position: absolute;
    right: 76.83%;
    left: 0%;
    width: 23.17%;
    top: calc(50% - 26px);
  }
  .straightrectangle3 {
    border-radius: 64px;
    border-style: solid;
    border-color: $page-color;
    border-width: 2px;
    height: 52px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .straightget-started {
    color: $page-color;
    text-align: center;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 43.5px);
    top: calc(50% - 12px);
    width: 87px;
  }
  .straightSVGContainer {
    height: 16px;
    position: absolute;
    right: 55.83%;
    left: 25.83%;
    width: 18.33%;
    top: calc(50% - 8px);
  }
  .straightSVGBackground {
    height: 16px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    top: 0px;
  }
  .straightImage {
    height: 16px;
    position: absolute;
    right: 0%;
    left: 85.45%;
    width: 14.55%;
    top: calc(50% - 8px);
    overflow: visible;
  }
  .straightTryForFree {
    color: $page-color;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    position: absolute;
    right: 21.82%;
    left: 0%;
    width: 78.18%;
    top: calc(50% - 11px);
  }
  .straightStraightToThePoint{
    color: $page-color;
    text-align: left;
    font-family: "Fraunces-Regular", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    position: absolute;
    right: 32.67%;
    left: 0%;
    width: 67.33%;
    top: 47px;
  }
  .straightVivamus{
    color: #49616e;
    text-align: left;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    position: absolute;
    right: 4.33%;
    left: 0%;
    width: 95.67%;
    top: 122px;
  }